body {
    height: 100vh;
    margin: 0;
    font-family: Roboto;
}

.container-center {
    display: flex;
    flex-direction: column;
}
header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header a {
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

section {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 100px 0px;
    padding: 20px;
}

.hero {
    width: 450px;

}

.hero-maintext {
    font-size: 48px;
    font-weight: bold;
}

.hero-button {
    border: none;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    margin-top: 10px;
}

#hero-image {
    width: 500px;
    height: 250px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    background-color: #F9FAF8;
    padding: 25px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-size: 36px;
    font-weight: 900;
}

.card-flex {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.card {
    max-width: 200px;
    text-align: center;

}

.card-image {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

.card-subtext {
    text-align: center;
}

.a {
    text-decoration: none;
}

.quote-section {
    display: flex;
    background-color: #E5E7EB;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.quote {
    max-width: 900px;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    line-height: 1.4;
    padding: 100px 0 100px 0;
}

.quote-author {
    font-style: normal;
    text-align: right;
    font-weight: bold;
    font-size: 30px;
}

.footer {
    background: #eee;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: 100px;
    height: 50px;
    width: 800px;
    background-color: #3882F6;
    align-self: center;
    border-radius: 8px;
    color: #eee;
}

.cta-text {
    display: flex;
    color: #eee;
}